
{% extends 'base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}



{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
    <div class="Signup">

        <h1>Lorem ipsum dolor</h1>
        <h1>sit amet tosik</h1>


        <div class="signup_form">

            <h3 class="mb-4">Lorem ipsum dolor sit amet</h3>

            {% csrf_token %}
            <!-- <form action="/event/create-venue/" method="post"> -->

                <form class="row g-3" id="myForm">
                    <div class="col-6">
                      <input type="text" class="form-control needs-validation" name="firstName"  placeholder="First Name" required>
                      <div id="validationServer01Feedback" class="invalid-feedback">
                        Please enter the valid first name.
                      </div>
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control needs-validation" id="validationServer02" name="lastName" placeholder="Last Name" required>
                      <label id="validationServer02Feedback" class="invalid-feedback">
                        Please enter the valid last name.
                      </label>
                    </div>
                    <div class="col-6">
                        <select class="form-select needs-validation" id="country" name="country" aria-describedby="validationServer03Feedback" required>
                            <option selected disabled>Country</option>
                            <option value="pakistan" data-code="+92">Pakistan</option>
                            <option value="India" data-code="+91">India</option>
                            <option value="Malaysia" data-code="+60">Malaysia</option>
                            <option value="Bangladesh" data-code="+880">Bangladesh</option>
                            <option value="Cyprus" data-code="+357">Cyprus</option>
                        </select>
                        <div id="validationServer03Feedback" class="invalid-feedback">
                          Please select a valid Country.
                        </div>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control needs-validation" disabled name="code"  id="phoneCode" placeholder="Code" aria-describedby="validationServer04Feedback" required>
                      <div id="validationServer04Feedback" class="invalid-feedback">
                        Please provide a valid phone code.
                      </div>
                    </div>
                    <div class="col-4">
                      <input type="text" class="form-control needs-validation" name="phone" id="phone" placeholder="Phone" required>
                      <div id="validationServer05Feedback" class="invalid-feedback">
                        Please enter the valid Phone.
                      </div>
                    </div>
                    <div class="col-6">
                      <input type="email" class="form-control needs-validation" name="email" id="validationServer06" placeholder="Email" aria-describedby="validationServer06Feedback" required>
                      <div id="validationServer06Feedback" class="invalid-feedback">
                        Please provide a valid email.
                      </div>
                    </div>
                    <div class="col-6">
                        
                        <select class="form-select needs-validation" id="validationServer07" name="experience" aria-describedby="validationServer07Feedback" required>
                            <option selected disabled>Experience</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        <div id="validationServer07Feedback" class="invalid-feedback">
                          Please Select the experince.
                        </div>
                      </div>  
                    <div class="col-12">
                      <div class="form-check input-checkbox">
                        <input class="form-check-input needs-validation" name="terms" type="checkbox" value="True" id="invalidCheck8" aria-describedby="invalidCheck8Feedback" required>
                        <div class="form-check-label" for="invalidCheck3">
                            <p>I have read and accepted the <span>Privacy Policy</span> and <span>Terms and Conditions</span></p>
                        </div>
                        <div id="invalidCheck8Feedback" class="invalid-feedback">
                            You must agree before submitting.
                        </div>  
                        
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Join Now</button>
                    </div>
                  <!-- </form> -->
            
            </form> 

        </div>
    </div>

    <img src="{% static 'assets/images/page.png' %}" alt="" class="page_img">

    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/form.js' %}"></script>
    {% endblock %}
    